# Dependencies
node_modules/

# Local firebase emulator data
firebase-debug.log
firebase-debug.*.log
.firebase/

# Environment files
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build
lib/
